# Virtual environments
myenv/
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# VS Code settings
.vscode/

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.dbgit status